.form-section {
    &-container {
        &-block {
            width: 1500px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 32px 0;
            margin-top: 96px;

            &-firstRow {
                width: 768px;

                form {
                    display: flex;
                    align-items: center;
                    gap: 0 20px;

                    p {
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 12px;
                        line-height: 160%;
                        color: #1D2130;
                        opacity: 0.6;
                    }

                    #yourName {
                        width: 368px;
                        height: 25px;
                        border: none;
                        border-bottom: 1px solid #525560;
                    }

                }
            }

            #Message {
                width: 768px;
                height: 159px;
                border: 1px solid #525560;
            }

            .message__text {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 160%;
                color: #1D2130;
                opacity: 0.6;
            }

            &__btn {
                display: inline-block;
                padding: 15px 40px;
                background: #70C174;
                backdrop-filter: blur(40px);
                border-radius: 4px;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                color: #FFFFFF;
                flex: none;
                order: 0;
                flex-grow: 0;
            }
        }
    }
}