.know-us-section {
    &-container {
        &-block {
            width: 1500px;

            &-textbox {
                display: flex;
                gap: 0 64px;

                &-box {
                    display: flex;
                    flex-direction: column;
                    gap: 16px 0;

                    &__secondTitle {
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 150%;
                        color: #1D2130;
                        width: 496px;
                        padding-top: 48px;
                    }

                    &__text {
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 160%;
                        color: #1D2130;
                        opacity: 0.7;
                        width: 496px;
                    }
                }
            }
        }
    }
}