.usage-section {
    &-container {
        &-block {
            &-flexbox {
                display: flex;
                align-items: flex-start;
                margin-top: 96px;
                margin-left: 110px;
                gap: 0 96px;
                
                &__title {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 48px;
                    line-height: 120%;
                    color: #1D2130;
                    width: 374px;
                }

                &__text {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 160%;
                    color: #525560;
                    width: 338px;
                }
            }
        }
    }
}